---
import MainLayout from "@layouts/MainLayout";
import Carousel from "@components/Carousel";
import imgcarousel from "@mocks/imgcarousel"

const topimgcarousel = imgcarousel.slice(0, 2);
---

<MainLayout title="Home">
  <main>
    <div>
      <Carousel images={topimgcarousel}>
    </div>
  </main>
</MainLayout>
