---
import MainLayout from "../layouts/MainLayout.astro";
import Carousel from "../components/Carousel.astro";
import imgcarousel from "../mocks/imgcarousel.json"

const topimgcarousel = imgcarousel.slice(0, 2);
---

<MainLayout title="Home">
  <main>
    <div>
      <Carousel images={topimgcarousel}>
    </div>
  </main>
</MainLayout>
