---
import MainLayout from "@layouts/MainLayout";
import SearchIcon from "@components/icons/Search";
import ProductCard from "@components/ProductCard";
import WhatsAppOutlineIcon from "@components/icons/WhatsAppOutline";
import PostCard from "@components/PostCard";
import type { Product } from "@interfaces/product";
import type { Post } from "@interfaces/post";

const productResponse = await fetch(
  "https://samamander-api.onrender.com/api/product?pageNumber=1&pageSize=5"
).then((res) => res.json());
const topProduct: Product[] = productResponse.data;

const postResponse = await fetch(
  "https://samamander-api.onrender.com/api/post?pageNumber=1&pageSize=10"
).then((res) => res.json());
const topPosts: Post[] = postResponse.data;
---

<MainLayout title="Publications">
  <main class="container mx-auto py-10">
    <div class="grid grid-cols-[minmax(200px,20%)_60%_minmax(200px,20%)] gap-3">
      <section class="flex flex-col gap-5">
        <div
          class="border-purple/60 border-2 flex h-9 rounded-md overflow-hidden peer-focus:border-blue-300/80"
        >
          <input type="text" class="w-full h-full px-2 outline-none peer" />
          <button
            class="bg-purple/80 text-white w-10 flex justify-center items-center"
          >
            <SearchIcon />
          </button>
        </div>
        <div class="flex flex-col gap-3">
          {topProduct.map((product) => <ProductCard product={product} />)}
        </div>
      </section>
      <section class="flex flex-col gap-5 p-5">
        {topPosts.map((post) => <PostCard post={post} />)}
      </section>
      <section class="">
        <a
          id="wspButton"
          class="flex items-center justify-center bg-green hover:brightness-105 p-2 rounded-md gap-4 shadow-md cursor-pointer"
        >
          <span class="text-lg font-semibold text-teal-900">Escríbenos</span>
          <WhatsAppOutlineIcon
            width={35}
            height={35}
            tailwindColor="fill-white"
          />
        </a>
      </section>
    </div>
  </main>
</MainLayout>

<script>
  const wspButton = document.getElementById("wspButton");
  wspButton.addEventListener("click", () => {
    window.open(
      "https://api.whatsapp.com/send?phone=51936543222&text=Hola%20estoy%20interesado%20en%20saber%20mas%20acerca%20de%20Aria%20Happy%20Club%20%F0%9F%98%80",
      "_blank"
    );
  });
</script>
